.hidden {
    display: none;
}

#reportButton {
    background-color: #44c767;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
}

#reportButton:hover {
    background-color: #5cbf2a;
}

#reportButton:active {
    position: relative;
    top: 1px;
}
